@keyframes clickAnim {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

.actorText {
	font-size: 85%;
	width: 100%;
	text-align: center;
	justify-content: center;
}
.actionList {
	background-color: #fff;
}
.backGroundWhite {
	background-color: #fff;
}
.moneyHeader:hover {
	cursor: pointer;
}
.runTime:hover {
	cursor: pointer;
}
.descriptionTitle {
	margin: 0;
	margin-bottom: 16px;
}

.tagline {
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	margin: 10px 0;
}

#backdrop {
	border-radius: 5px;
	width: 100vw;
	background-size: cover;
	background-position: center center;
	background-blend-mode: darken;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	padding: 0% 0;
	margin-bottom: 20px;
	background-color: #fff;
	ion-icon {
		transform: scale(2.5);
		color: rgba(255, 255, 255, 0.4);
	}
	.top {
		padding: 2% 5%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid var(--ion-background-color);
		.madeBy {
			font-weight: 700;
			font-size: 18px;
			margin: 0;
		}
	}
	.middle {
		padding: 2% 5%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		border-bottom: 1px solid var(--ion-background-color);

		.logoImg {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			backdrop-filter: blur(5px);
			border-radius: 5px;
			padding: 5px;
			aspect-ratio: 164 / 100;
			// min-width: 20vh;
			margin: 1% 0;
			// max-width: 40vw;
			outline: 1px solid var(--ion-color-step-150);
			background-color: var(--ion-background-color);
			// min-height: 0.vh;

			width: 40vw;
		}
		.unknown {
			color: var(--ion-color-step-650);
			font-weight: 700;
			font-size: 20px;
			margin: 0;
		}
	}
	.bottom {
		padding: 2% 5%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		.moneyTooBig {
			font-size: 14px;
		}
		.releaseTooBig {
			font-size: 14px;
		}
		p {
			height: min-content;
			min-width: 28%;
			padding: 10px;
			border-radius: 5px;
			margin: 0;
			text-align: center;
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
			min-height: 6.2vh;
			background-color: var(--ion-background-color);
		}
	}
}
.actionList {
	border-radius: 5px;
}

.cast {
	display: flex;
	overflow: scroll;
	align-items: center;
}
.unknownText {
	margin: 0 auto;
	text-align: center;
}
.actorImg {
	width: 25vw;
	overflow: hidden;
	aspect-ratio: 1 / 1;
	border-radius: 5px;
	p {
		justify-content: center;
		align-items: center;
	}
}
.actorDiv {
	background-color: #fff;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin: 0 10px;
	padding: 5px;
	text-align: center;
	p {
		min-height: 36px;
		display: flex;
		align-items: center;
		margin: 0;
	}
	a {
		text-decoration: none;
	}
}
.actorNoImg {
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1 / 1;
	box-shadow: inset 5px 5px 6px 0px rgba(0, 0, 0, 0.17);
}
.noImage {
	width: 100%;
}

@media (prefers-color-scheme: dark) {
	.backGroundWhite {
		background-color: unset;
	}
	:host {
		--backdrop-image: '';
		--company-image-amount: 0;
	}
	#moviePoster {
		overflow: hidden;
		border-radius: 5px;
		width: 100vw;
		// aspect-ratio: 2 / 3;
	}
	.noImage {
		aspect-ratio: 2 / 3;
		background-color: var(--ion-color-step-150);
		display: flex;
		justify-content: center;
		align-items: center;
		p {
			color: var(--ion-color-step-650);
			font-weight: 700;
			font-size: 30px;
			margin: 0;
		}
	}
	.logoImg {
		background-color: var(--ion-color-step-200) !important;
	}
	.bottom {
		p {
			background-color: var(--ion-color-step-200) !important;
		}
	}
	.backdropImg {
		background-image: var(--backdrop-image);
		height: 100vh;
		width: 100vw;
		top: 0;
		object-fit: cover;
		position: absolute;
		z-index: -1;
	}
	.similarMovies {
		overflow: scroll;
	}
	.modalText {
		border-radius: 5px;
	}
	.actionList {
		border-radius: 5px;
		background-color: unset;
	}
	#description {
		text-align: center;
		font-size: 20px;
	}
	#favorite {
		position: absolute;
		right: 1vw;
		top: 1vh;
		color: red;
	}
	#backdrop {
		background-color: var(--ion-color-step-50);
		&.ios {
			border: 1px solid var(--ion-color-step-150);
		}
	}
	.actorDiv {
		background-color: var(--ion-color-step-200);
	}
}

// @media (min-width: 767px) {
// 	#moviePoster {
// 		max-width: 50vw;
// 	}
// }

@media (min-width: 768px) {
	.actorImg {
		width: 12vw;
	}
	.actorDiv {
		p {
			min-height: 36px;
		}
	}
	.actorDiv {
		transition: 0.2s;
	}
	.actorDiv:hover {
		cursor: pointer;
		background-color: var(--ion-color-step-250);
		transform: translateY(-5px);
		transition: 0.2s;
	}
	.cast {
		height: 20vw;
	}
	#moviePoster {
		display: inline-block;
		width: 90%;
		margin: 0 auto;
	}
	.noImage {
		aspect-ratio: 2 / 3;
		display: flex;
		justify-content: center;
		align-items: center;
		p {
			color: var(--ion-color-step-650);
			font-weight: 700;
			font-size: 30px;
			margin: 0;
		}
	}
	#backdrop {
		width: 100%;
		.middle {
			.logoImg {
				min-width: 12vw;
				min-height: 1vh;
				width: calc((40vw / var(--company-image-amount)) - 2vw);
				max-width: 20vw;
			}
		}
	}
	.actionList {
		border-radius: 5px;
		padding: 0;
		overflow: hidden;
	}
	.desktopTop {
		display: flex;
		justify-content: center;
		.left {
			width: 40%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
		}
		.right {
			width: 60%;
			margin: 0 2vw;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-around;
		}
	}
	.moneyTooBig {
		font-size: unset;
	}
	.releaseTooBig {
		font-size: unset;
	}
}

@media (min-width: 1200px) {
	.actorImg {
		width: 8vw;
	}
	.cast {
		height: 22vh;
	}
}
