<ion-header>
	<ion-toolbar>
		<ion-title> Reset Password </ion-title>
		<ion-buttons slot="start" (click)="closeModal()">
			<ion-back-button type="button"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content id="MainResetPasswordSection">
	<form id="ResetPasswordForm" [formGroup]="userFormGroup">
		<ion-item>
			<ion-input
				type="email"
				autocomplete="email"
				label="Email"
				labelPlacement="floating"
				placeholder="Email"
				name="email"
				formControlName="email"
				required
			/>
			<div class="alert alert-danger">
				{{ getAlertMsg('email') }}
			</div>
		</ion-item>
		<ion-item>
			<ion-input
				label="Password"
				labelPlacement="floating"
				type="password"
				autocomplete="new-password"
				name="newPassword"
				formControlName="newPassword"
				required
			/>
			<div class="alert alert-danger">
				{{ getAlertMsg('newPassword') }}
			</div>
		</ion-item>
		<ion-item>
			<ion-input
				label="Confirm Password"
				labelPlacement="floating"
				type="password"
				autocomplete="new-password"
				name="confirmNewPassword"
				formControlName="confirmNewPassword"
				required
			/>
			<div class="alert alert-danger">
				{{ getAlertMsg('confirmNewPassword') }}
			</div>
		</ion-item>
		<ion-button type="submit" expand="block">Reset Password</ion-button>
	</form>
</ion-content>
