<app-page-header
	headerTitle="{{ folder }} Movies"
	[menuIcon]="true"
></app-page-header>

<ion-content [fullscreen]="true">
	<app-page-header headerTitle="{{ folder }} Movies" [contentChild]="true">
	</app-page-header>

	<div class="popularMoviesSection">
		<app-movie-poster
			[movieList]="movieList"
			class="flex outline"
			[anchorTag]="true"
		></app-movie-poster>
	</div>
	<div>
		<app-paginator
			#child
			[pageNumVar]="3"
			[totalPageNum]="totalNumSend"
			[moviesArr]="popularMovies"
			(childToParent)="childToParent($event)"
		></app-paginator>
	</div>
</ion-content>
