@keyframes clickAnimMD {
	0% {
		transform: translateY(0);
		outline-color: var(--ion-border-color);
	}
	50% {
		transform: translateY(-5px);
		outline-color: var(--ion-color-step-200);
	}
	100% {
		transform: translateY(0);
		outline-color: var(--ion-border-color);
	}
}
@keyframes clickAnimIOS {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}
@mixin standardMovieCard() {
	.popularMovieCard {
		overflow: hidden;
		transition: 0.2s;
		width: 40%;
		border-radius: 5px;
		margin: 2% 0;
	}
	.popularMovieCard:hover {
		transition: 0.2s;
		cursor: pointer;
		transform: translateY(-5px);
	}
}

@mixin animation {
	.popularMovieCard:has(.ios) {
		&.clickAnimClass {
			animation: clickAnimIOS 0.25s;
		}
	}
	.popularMovieCard:has(.md) {
		&.clickAnimClass {
			animation: clickAnimMD 0.25s;
		}
	}
}
:host {
	&.noHover {
		.popularMovieCard {
			&:hover {
				transform: translateY(0);
			}
		}
	}
	&.flex {
		display: flex;
		justify-content: space-around;
		flex-flow: row wrap;
	}
	&:not(.noClick) {
		@include animation();
	}
	&.list {
		display: flex;
		flex-flow: row nowrap;
		overflow: scroll;
		width: 900vw;
		.popularMovieCard {
			margin: 10px;
			width: 30%;
		}
	}
	& .popularMovieCard:has(.noImage) {
		box-shadow: inset 5px 5px 6px 0px rgba(0, 0, 0, 0.17);
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			width: 100%;
			height: 100%;
			color: var(--ion-color-step-600);
			text-decoration: none;
		}
	}
	.popularMovieCard:hover {
		outline-color: var(--ion-color-step-200);
	}

	@include standardMovieCard();
}

@media (prefers-color-scheme: dark) {
	:host {
		&.flex {
			display: flex;
			justify-content: space-around;
			flex-flow: row wrap;
			.loadingImages {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-around;
			}
		}
		&.outline .popularMovieCard {
			outline: 3px solid var(--ion-border-color);
		}
		&.outline .popularMovieCard:hover {
			outline-color: var(--ion-color-step-200);
		}
		&.list {
			display: flex;
			flex-flow: row nowrap;
			overflow: scroll;
			width: 900vw;
			.popularMovieCard {
				margin: 10px;
				width: 30%;
			}
			.loadingImages {
				display: flex;
				flex-flow: row nowrap;
				overflow: scroll;
				width: 900vw;
			}
		}
		&:not(.noClick) {
			@include animation();
		}
		& .popularMovieCard:has(.noImage) {
			box-shadow: inset 5px 5px 6px 0px rgba(0, 0, 0, 0.17);
			background-color: var(--ion-border-color);
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				color: var(--ion-color-step-600);
				text-decoration: none;
			}
		}
		.skeletonMovieCard {
			aspect-ratio: 2 / 3;
			width: 40vw;
			border-radius: 5px;
		}
	}
	@include standardMovieCard();
}
@media (min-width: 1500px) {
	:host {
		&.flex {
			.popularMovieCard {
				width: 23%;
			}
			display: flex;
			justify-content: space-around;
			flex-flow: row wrap;
			.loadingImages {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-around;
			}
		}

		&.list {
			padding-bottom: 30px;
			width: 200vw;
			// .popularMovieCard {
			// 	width: 10vw;
			// }
		}
		.popularMovieCard {
			transition: 0.2s;
		}
		.popularMovieCard:hover {
			transition: 0.2s;
			cursor: pointer;
			transform: translateY(-5px);
			outline-color: var(--ion-color-step-200);
		}
	}
}
