<app-page-header headerTitle="Movies" [menuIcon]="true"></app-page-header>

<ion-content [fullscreen]="true">
	<app-page-header headerTitle="Movies" [contentChild]="true">
	</app-page-header>
	<div class="popularMoviesSection">
		<h1>Popular Movies</h1>
		<a href="movies/popular">
			<div class="popularMovies" #popShowMore>
				<app-movie-poster
					[movieList]="popularMovies"
					class="flex noClick"
					[anchorTag]="false"
				></app-movie-poster>
			</div>
		</a>
		<div class="showMoreSection">
			<a href="movies/popular">
				<ion-button color="secondary" class="showMoreButton"
					>Show More</ion-button
				>
				<!-- TODO: If possible, find a way to include that ion-nav-link while not removing the menu icon -->
			</a>
		</div>
	</div>

	<div class="playingNow"></div>
</ion-content>
