<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Movie Search</ion-title>
        <!-- this right here is only for ANDROID. -->
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Movie Search</ion-title>
            <!-- This right here is only for IOS -->
        </ion-toolbar>
    </ion-header>
    <div class="popularMoviesSection">
        <h1>Popular Movies</h1>
            <div class="popularMovies" #popShowMore>
                <div *ngFor="let item of popularMovies" class="popularMovieCard">
                    <ion-img src="{{ urlStart + item.poster_path }}"></ion-img>
                </div>
            </div>
            <div class="showMoreSection">
                <a href="movies/popular">

                <ion-button color="secondary" class="showMoreButton"
                >Show More</ion-button>
                    <!-- TODO: If possible, find a way to include that ion-nav-link while not removing the menu icon -->
                </a>
            </div>

    </div>

    <div class="playingNow"></div>
</ion-content>