<app-page-header headerTitle="Login" [menuIcon]="false"></app-page-header>

<ion-content [fullscreen]="true">
	<app-page-header headerTitle="Login" [contentChild]="true">
	</app-page-header>
	<div id="MainLoginSegment">
		<form
			id="LoginForm"
			[formGroup]="userFormGroup"
			(submit)="updateUserProfile()"
			(keyup.enter)="updateUserProfile()"
		>
			<fieldset>
				<legend>Sign In With Email And Password</legend>
				<ion-item>
					<ion-input
						type="email"
						label="Email"
						labelPlacement="floating"
						autocomplete="email"
						placeholder="Email"
						required
						name="email"
						formControlName="email"
					></ion-input>
					<div class="alert alert-danger">
						{{ getAlertMsg('email') }}
					</div>
				</ion-item>
				<ion-item>
					<ion-input
						type="password"
						label="Password"
						autocomplete="current-password"
						labelPlacement="floating"
						placeholder="Password"
						required
						name="password"
						formControlName="password"
					></ion-input>
					<div class="alert alert-danger">
						{{ getAlertMsg('password') }}
					</div>
				</ion-item>
				<ion-button
					expand="block"
					shape="round"
					color="primary"
					type="submit"
					>Submit</ion-button
				>
				<ion-button (click)="openForgotPassowordModal()" expand="full">
					Forgot Password?
				</ion-button>
			</fieldset>
			<fieldset>
				<legend>Or</legend>
				<ion-button
					type="button"
					class="btn googleBtn"
					(click)="signInWithGoogle()"
				>
					<ion-icon slot="start" name="logo-google"></ion-icon>
					Sign in with Google
				</ion-button>
			</fieldset>
			<ion-label>
				Don't have an account?
				<a href="/register">Make One!</a>
			</ion-label>
		</form>
	</div>
</ion-content>
