
<ion-header>
	<ion-toolbar>
		<ion-title> Verify Email Address </ion-title>
		<ion-buttons slot="start" (click)="closeModal()">
			<ion-back-button type="button"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content id="MainVerifyEmailSection">
	<ion-text>
		<h3>Thank You for Registering</h3>
		<div class="formGroup" *ngIf="authService.userData as user">
			<p class="text-center">
				We have sent a confirmation email to
				<strong>{{ user.email }}</strong>
			</p>
			<p class="text-center">
				Please check your email and click on the link to verfiy your
				email address.
			</p>
		</div>
	</ion-text>
	<ion-button
		type="button"
		class="btn btnPrimary"
		expand="full"
		(click)="authService.SendVerificationMail()"
	>
		<ion-icon slot="start" name="refresh-outline"></ion-icon>
		<ion-label slot="end"> Resend Verification Email </ion-label>
	</ion-button>
</ion-content>
