@keyframes clickAnimMD {
	0% {
		transform: translateY(0);
		border-color: var(--ion-border-color);
	}
	50% {
		transform: translateY(-5px);
		border-color: var(--ion-color-step-200);
	}
	100% {
		transform: translateY(0);
		border-color: var(--ion-border-color);
	}
}
@keyframes clickAnimIOS {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

.popularMoviesSection {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
